# Can ignore specific files
.DS_Store

# Use wildcard to ignore backup files
*~
git-notes.txt
not-used/*

.spelchek.cache
.thesaurus.cache
.wordnik.cache

replicate.sh

# Can also ignore all directories and files in a directory.
snippets/**/.yas-compiled-snippets.el
yasnippets/**/.yas-compiled-snippets.el
snippets/yasnippet-bundle-orig.el
snippets/yasnippet-bundle.el